@import '../../variables.scss';

.closeDropDown {
  top: 105px;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.navbar {
  padding: 30px 0;
  box-shadow: $shadow-s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $container-width;
  
}

.logo {
  display: flex;
  align-items: center;
  &__icon {
    margin-right: 11px;
    width: 39.96px;
    height: 32px;
  }
  &__text {
    height: 100.38px;
    height: 10.01px;
  }
}

.search {
  display: flex;
  align-items: center;
  &Catalog {
    margin-right: 16px;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: $secondary;
    border-radius: 4px;
    cursor: pointer;
    &Burger {
      margin-right: 13px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 13px;
      &__line {
        width: 19px;
        height: 3px;
      }
    }
    &__text {
      margin-right: 8px;
      line-height: 24px;
      font-family: $text;
      font-weight: $w-text-regular;
      color: $secondary-text;
    }
    &Drop {
      padding: 32px;
      top: 79px;
      position: absolute;
      display: flex;
      flex-direction: column;
      background-color: $surface;
      box-shadow: $shadow-m;
      z-index: 99;
      &__link {
        margin-bottom: 24px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-s;
        color: $surface-text;
        line-height: 24px;
        cursor: pointer;
        &:hover {
          color: $primary;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  &String {
    padding: 8px;
    display: flex;
    align-items: center;
    border: 1px solid $secondary;
    border-radius: 4px;
    &__input {
      width: 378px;
      height: 24px;
      border: none;
      outline: none;
      font-family: $text;
      font-weight: $w-text-regular;
      font-size: $text-s;
      color: $surface-text;
      caret-color: $surface-text;
      &::placeholder {
        color: $hard;
        caret-color: $hard;
      }
      &:focus {
        border: none;
      }
    }
    &__img {
      cursor: pointer;
    }
  }
}

.links {
  display: flex;
  align-items: center;
  &Btn {
    margin-right: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    text-decoration: none;
    &__icon {
      margin-bottom: 8px;
      height: 24px;
      width: 24px;
      fill: $surface-text;
      &_active {
        fill: $primary;
      }
    }
    &__text {
      font-family: $text;
      font-weight: $w-text-regular;
      font-size: $text-xs;
      color: $surface-text;
      &_active {
        color: $primary;
      }
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover .linksBtn__icon {
      fill: $primary;
    }
    &:hover .linksBtn__text {
      color: $primary;
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  &Line {
    display: flex;
    align-items: center;
    &Info {
      display: flex;
      align-items: center;
      &__img {
        margin-right: 10px;
        width: 40px;
        height: 40px;
      }
      &__name {
        margin-right: 23.5px;
        width: 85px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-s;
        color: $surface-text;
      }
    }
  }
  &Drop {
    padding: 8px;
    top: 48px;
    left: 10px;
    position: absolute;
    background-color: #fff;
    &Btn {
      height: 32px;
      display: flex;
      align-items: center;
      &__text {
        width: 143px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-s;
        color: $surface-text;
      }
    }
  }
}

.login {
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: $primary;
  border-radius: 4px;
  cursor: pointer;
  &__text {
    width: 109px; 
    text-align: center;
    font-family: $text;
    font-weight: $w-text-regular;
    font-size: $text-s;
    color: $primary-text
  }
  &Window {
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($primary-muted, 0.8);
    position: absolute;
    z-index: 999;
    &Container {
      padding: 72px 80px 40px;
      top: 50%;
      left: 50%;
      margin-left: -12em;
      margin-top: -12em;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background-color: #fff;
      border-radius: 4px;
      &__close {
        top: 0;
        right: 0;
        padding: 8px; 
        position: absolute;
        background-color: $lightest;
        border-radius: 4px;
        fill: $surface-text;
        cursor: pointer;
      }
      &__title {
        margin-bottom: 32px;
        font-family: $text-header;
        font-weight: $w-text-bold;
        font-size: $text-header-s;
        color: $surface-text;
      }
      &Input {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        align-items: start;
        &__text {
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-m;
          color: $hard;
        }
        &__input {
          padding: 12px 16px;
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-l;
          color: $surface-text;
          line-height: 36px;
          border: 1px solid $secondary;
          caret-color: $secondary;
          border-radius: 4px;
          width: 260px;
          &:focus {
            border-color: $secondary;
            box-shadow: $shadow-secondary-m;
            outline: none;
          }
        }
      }
      &__btn {
        margin-bottom: 32px;
        padding: 16px 120px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-l;
        color: $primary;
        background-color: $primary-muted;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      &Nav {
        display: flex;
        &__registerBtn {
          padding: 4px 8px;
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-xs;
          color: $secondary;
          line-height: 18px;
          text-decoration: none;
          border: 1px solid $secondary;
          border-radius: 4px;
        }
        &__remoteNav {
          padding: 4px 8px;
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-xs;
          color: $hardest;
          line-height: 18px;
          text-decoration: none;
        }
      }
    }
  }
}