@import 'variables.scss';

.block {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    margin-bottom: 40px;
    font-family: $text-header;
    font-weight: $w-text-bold;
    font-size: $text-header-m;
    line-height: 54px;
    color: $surface-text;
  }
}

@media only screen and (max-width: 992px) {
  .block {
    margin-bottom: 100px;
    .title {
      margin-bottom: 16px;
      font-size: $text-header-s;
      line-height: 36px;
    }
  }
}

// @media only screen and (max-width: 768px) {
//   .block {
//     display: flex;
//     flex-direction: column;
//     // align-items: center;
//     .title {
//       align-self: start;
//     }
//   }
// }