@import 'variables.scss';

.block {
  margin-bottom: 120px;
  &:last-child {
    margin-bottom: 0;
  }
  .title {
    margin: 0;
    font-family: $text-header;
    font-weight: $w-text-bold;
    font-size: $text-header-m;
    line-height: 54px;
    color: $surface-text;
  }
}