@import 'variables.scss';

.basketItems {
  margin-right: 60px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  width: 100%;  
  .empty {
    align-self: center;
    font-family: $text;
    font-weight: $w-text-regular;
    font-size: $text-m;
    line-height: 28px;
    color: $hard;
  }
}

@media only screen and (max-width: 992px) {
  .basketItems {
    margin-right: 36px;
  }
}

@media only screen and (max-width: 768px) {
  .basketItems {
    margin-bottom: 32px;
  }
}