@import '../../variables.scss';

.main {
  background-color: $background-main;
  .banner {
    width: 100%;
    height: 200px;
    background: url('../../assets/img/main-banner-pattern.svg');
    background-color: #fff;
  }
}

@media only screen and (max-width: 992px) {
  .main {
    .banner {
      height: 160px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main {
    .banner {
      height: 80px;
    }
  }
}