@import 'variables.scss';

.registrationWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__subtitle {
    margin-bottom: 24px;
    font-family: $text-header;
    font-weight: $w-text-bold;
    font-size: $text-header-xs;
    line-height: 27px;
    color: $surface-text;
  }
  &RequiredFields {
    display: flex;
    justify-content: center;
    &Left {
      margin-right: 32px;
      display: flex;
      flex-direction: column;
    }
    &Right {
      display: flex;
      flex-direction: column;
    }
  }
}