@import 'variables.scss';

.products {
  .filters {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    .filter {
      margin-right: 20px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      background-color: $secondary;
      border-radius: 4px;
      &__clear {
        background-color: $lightest;
        cursor: pointer;
        & .filter__text {
          color: $hardest;
        }
      }
      &__text {
        margin-right: 8px;
        padding: 0 10px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-xs;
        line-height: 18px;
        color: $secondary-text;
      }
      &__btn {
        fill: $surface-text;
        cursor: pointer;
      }
    }
  }
  .cards {
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .products {
    .cards {
      gap: 32px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .products {
    .cards {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
  }
}