@import 'variables.scss';

.footer {
  padding: 40px 28px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  background: url('../../../assets/img/footer-bg.svg');
  background-color: $footer-color;
  .topLine {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .common {
      display: flex;
      flex-direction: column;
      align-items: end;
      .socialLinks {
        display: flex;
        align-items: center;
        .socialLink {
          margin-right: 16px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .phone {
        display: flex;
        align-items: center;
        &__icon {
          margin-right: 8px;
        }
        &__text {
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-s;
          line-height: 24px;
          color: $surface-text;
        }
      }
    }
  }
  .bottomLine {
    display: flex;
    align-items: center;
    .links {
      display: flex;
      flex-wrap: wrap;
      .link {
        margin-bottom: 16px;
        margin-right: 16px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-xs;
        line-height: 18px;
        color: $surface-text;
        text-decoration: none;
        &:last-child {
          margin-bottom: 0;
          margin-right: 0;
        }
      }
    }
  }
}