@import '../../variables.scss';

.main {
  background-color: $background-main;
  &__banner {
    position: absolute;
    z-index: -1;
    left: 13%;
  }
  &__container {
    width: $container-width;
    margin: 0 auto;
  }
}