@import 'variables.scss';

.category {
  margin-bottom: 80px;
  &:last-child {
    margin-bottom: 0;
  }
  .header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      margin: 0;
      font-family: $text-header;
      font-weight: $w-text-bold;
      font-size: $text-header-m;
      line-height: 54px;
      color: $surface-text;
    }
    .navlink {
      display: flex;
      align-items: center;
      .link {
        margin-right: 8px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-s;
        line-height: 24px;
        color: $hardest;
        width: 120px;
        text-decoration: none;
      }
      .markRight {
        fill: $surface-text;
      }
    }
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .category {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 32px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .category {
    .header {
      .title {
        font-size: $m-text-header-m;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
    }
  }
}