@import 'variables.scss';

.map {
  .tabs {
    margin-bottom: 24px;
    display: flex;
    align-items: start;
    .tab {
      margin-right: 24px;
      padding: 4px 8px;
      font-family: $text;
      font-weight: $w-text-regular;
      font-size: $text-xs;
      line-height: 18px;
      color: $hardest;
      background-color: $lightest;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      transition: color .16s, background-color .16s ease-in-out;
      &_active {
        color: $secondary-text;
        background-color: $secondary;
      }
      &:hover {
        color: $secondary-text;
        background-color: $secondary;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .map {
    .tabs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 8px;
      .tab {
        margin-right: 0;
      }
    }
  }
}