@import 'variables.scss';

.content {
  min-height: 60vh;
  padding-bottom: 80px;
  position: relative;
  .title {
    margin-bottom: 60px;
    font-family: $text-header;
    font-weight: $w-text-bold;
    font-size: $text-header-xl;
    line-height: 96px;
    color: $surface-text;
  }
  .amountBasketProducts {
    top: 0;
    left: 300px;
    padding: 4px 8px;
    position: absolute;
    font-family: $text;
    font-weight: $w-text-regular;
    font-size: $text-s;
    line-height: 24px;
    color: $primary-text;
    background-color: $primary;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 992px) {
  .content {
    padding-bottom: 60px;
    .title {
      margin-bottom: 40px;
      font-family: $text-header-m;
    }
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding-bottom: 40px;
    .title {
      margin-bottom: 32px;
      font-family: $m-text-header-l;
      line-height: 54px;
    }
  }
}