@import 'variables.scss';

.footer {
  padding: 24px 0;
  background: url('../../assets/img/footer-bg.svg');
  background-color: $footer-color;
  .topLine {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      align-items: center;
      .link {
        margin-right: 40px;
        font-family: $text;
        font-weight: $w-text-regular;
        font-size: $text-xs;
        line-height: 18px;
        color: $surface-text;
        text-decoration: none;
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          color: $primary;
        }
      }
    }
    .socialLinks {
      display: flex;
      align-items: center;
      .socialLink {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .contacts {
      position: relative;
      display: flex;
      flex-direction: column;
      .phone {
        display: flex;
        align-items: center;
        &__icon {
          margin-right: 8px;
        }
        &__text {
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-s;
          line-height: 24px;
          color: $surface-text;
        }
      }
      .designer {
        top: 40px;
        position: absolute;
        &__text {
          margin-right: 8px;
          font-family: $text;
          font-weight: $w-text-regular;
          font-size: $text-xs;
          line-height: 18px;
          color: $surface-text;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    .topLine {
      .socialLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        .socialLink {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    .topLine {
      margin-bottom: 0;
      .links {
        max-width: 311px;
        flex-flow: row wrap;
        .link {
          margin-right: 16px;
        }
      }
      .contacts {
        .designer {
          position: static;
        }
      }
    }
  }
}